<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
		<a href="socket">go to socket test</a>
		<!-- <form action="socket" method="get"><input type="button" value="go to socket test" /></form> -->
  </body>
</html>
